body{
  margin: 0px;
  background-color: aliceblue;
}

h2{
  margin: 5px 20px;
  font-family: sans-serif;
  color: rgb(34, 123, 212);
}

/* Header */

#header{
  background-image: url('images/header-background.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
}

#topHeader{
  width: 100%;
  height: 65px;
  background-color: rgb(43, 43, 43);
  opacity: 0.5;
}


/* Make this element not transparent */
#logo{
  margin: 0px 2px;
  width: 18%;
  
}

.textOver{
  margin-top:150px;
  font-size: 45px;
  font-family: sans-serif;
  text-align: center;
  color:#2993FC;
}

/* Side menu */

#sideMenu{
  /* border: solid black; */
  display: inline-block;
  width: 18%;
  padding: 30px;
}

.sideIcons{
  font-family: sans-serif;
  font-size: 16px;
  color:#2993FC;
  margin: 20px 0px;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Content */
#content{
  /* border: solid green; */
  display: inline-block;
  margin: 0px 1px;
  width: 69%;
  height: 300px;
}

.courses{
  display: inline-block;
  border: solid thin black;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 40px 20px 0px 20px;
}
